*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
}
// body{
//     width: 100vw;
//     height: 100vh;
//     background-color: aqua;
// }
.contenedor{
    background-color: rgb(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cartas{
    position: relative;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.7s ease;
    gap: 10px;
    box-shadow: 2.5px 2.5px 10px black;
    overflow: hidden;

    // &:hover .imagen-c > img{
    //     transform: scale(1.2);
    //     transition: 0.5s;
    //     opacity: 1;
    // }


    .imagen-c{
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
            opacity: 1;
            transition: transform 0.6s, opacity 1s ease;
        }
    }

    .titulo, .parrafo{
        text-align: center;
        font-size: 1.4rem;
        font-family: monospace;
        color: white;
    }

    .titulo{
        margin-top: 10px;
        transition: opacity 1s ease;
    }

    .parrafo{
        opacity: 0;
        position: absolute;
        font-size: 1.2rem;
    }
}

.girodecartas{
        transform: rotateY(180deg);
        padding: 10px;
        
        .imagen-c img{
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .titulo{
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .parrafo{
            padding: 5px;
            position: absolute;
            inset: 0 0 0 0;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            font-weight: bold;
            transform: rotateY(180deg);
            transition: opacity 0.4s;
            opacity: 1;
        }
    }

.pie{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .botones{
        width: 75px;
        padding: 10px 2px;
        margin: 0 2px;
        border-radius: 10px;
        background-color: gray;
        color: white;
        font-size: 1em;
        opacity: 0.6;
        transition: opacity 0.5s ease, background-color 0.5s ease;
        cursor: pointer;

        &:hover{
            opacity: 1;
            background-color: black;
        }
    }
}

@media (min-width: 190px) and (max-width: 450px) {
    .contenedor{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
